<?xml version="1.0" encoding="utf-8" ?>
<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="CheckGoogle" virtualUrl="^~/CheckGoogle/(.*)-(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Google.aspx?GoogleID=$1&amp;GoogleName=$2&amp;GoogleEmail=$3" ignoreCase="true"/>
    <add name="Rule4" virtualUrl="^~/tin-tuc-new.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=nws" ignoreCase="true"/>
    <add name="Rule8" virtualUrl="^~/san-pham.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=prd" ignoreCase="true"/>
    <add name="Rule19" virtualUrl="^~/lien-he.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=contact" ignoreCase="true"/>
    <add name="Rule24" virtualUrl="^~/thu-vien-anh.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Thuvien&amp;hp=-1" ignoreCase="true"/>
    <add name="Rule25" virtualUrl="^~/thu-vien-video.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Videos" ignoreCase="true"/>
    <add name="Rule26" virtualUrl="^~/tai-du-lieu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Download" ignoreCase="true"/>
    <add name="Rule30" virtualUrl="^~/Dang-ky.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Register" ignoreCase="true"/>
    <add name="Rule31" virtualUrl="^~/Doi-mat-khau.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=resetpassword" ignoreCase="true"/>
    <add name="Rule32" virtualUrl="^~/xac-nhan/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/cms/display/Members/validate.aspx?key=$1" ignoreCase="true"/>
    <add name="Rule33" virtualUrl="^~/xac-nhan-email/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/cms/display/Members/infoemail.aspx?key=$1" ignoreCase="true"/>
    <add name="Rule34" virtualUrl="^~/thong-tin-thanh-vien.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Infos" ignoreCase="true"/>
    <add name="Rule36" virtualUrl="^~/ho-so-thanh-vien.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=changinfo" ignoreCase="true"/>
    <add name="Rule37" virtualUrl="^~/thay-doi-mat-khau.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=changepass" ignoreCase="true"/>
    <add name="Rule39" virtualUrl="^~/Dang-nhap.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Login" ignoreCase="true"/>
    <add name="Rule49" virtualUrl="^~/Search/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Search&amp;keyword=$1" ignoreCase="true" />
    <!--<add name="Rule50" virtualUrl="^~/Gioi-thieu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=GioiThieu" ignoreCase="true"/>-->
    
    <add name="ProDetail" virtualUrl="^~/(.*)_sp(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ProDetail&amp;pid=$2" ignoreCase="true"/>
    
    <add name="ChuyenDiemViDiem" virtualUrl="^~/chuyen-diem-vi-diem.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ChuyenDiemViDiem" ignoreCase="true"/>
    <add name="ChuyenDiem" virtualUrl="^~/chuyen-diem.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ChuyenDiem" ignoreCase="true"/>
    <add name="HoaHong" virtualUrl="^~/tich-diem-hoa-hong.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=HoaHong" ignoreCase="true"/>
    <add name="HoaHongGioiThieu" virtualUrl="^~/tich-diem-hoa-hong-gioi-thieu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=HoaHongGioiThieu" ignoreCase="true"/>
    <add name="HoaHongMua" virtualUrl="^~/tich-diem-hoa-hong-mua.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=HoaHongMua" ignoreCase="true"/>
    <add name="HoaHongBan" virtualUrl="^~/tich-diem-hoa-hong-ban.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=HoaHongBan" ignoreCase="true"/>
    <add name="Lichsu" virtualUrl="^~/lich-su-mua-hang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Lichsu" ignoreCase="true"/>
    <add name="Detailorders" virtualUrl="^~/account/orders/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Detailorders&amp;IDMuahang=$1" ignoreCase="true"/>

    <add name="LinkGoiThieu" virtualUrl="^~/link-gioi-thieu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LinkGoiThieu" ignoreCase="true"/>
    <add name="LichSuChuyenDiem" virtualUrl="^~/lich-su-chuyen-diem.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LichSuChuyenDiem" ignoreCase="true"/>
    <add name="LichSuCapDiem" virtualUrl="^~/lich-su-cap-diem.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LichSuCapDiem" ignoreCase="true"/>

    <add name="agland" virtualUrl="^~/lai-suat-agland.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LaiSuatagland" ignoreCase="true"/>

    <add name="Lichsutruthue" virtualUrl="^~/lich-su-tru-thue.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Lichsutruthue" ignoreCase="true"/>
    <add name="tin-nhan" virtualUrl="^~/tin-nhan.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=TinNhan" ignoreCase="true"/>
    <add name="Chuyengia" virtualUrl="^~/chuyen-gia.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Chuyengia" ignoreCase="true"/>
    
    <!--Nhà cung cấp đã bán-->
    <add name="DonBanHang" virtualUrl="^~/danh-sach-don-ban-hang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=DonBanHang" ignoreCase="true"/>
    <add name="orderssold" virtualUrl="^~/orders-sold/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=orderssold&amp;IDCart=$1" ignoreCase="true"/>
    <add name="Thanhvien" virtualUrl="^~/Danh-sach-thanh-vien.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Thanhvien" ignoreCase="true"/>
    <add name="quanlygiadaily" virtualUrl="^~/quan-ly-gia-dai-ly/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=quanlygiadaily&amp;ID=$1" ignoreCase="true"/>
    <add name="ViTienThanhVien" virtualUrl="^~/vi-tien.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ViTienThanhVien" ignoreCase="true"/>
    
    <add name="MuaDiem" virtualUrl="^~/mua-diem.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=MuaDiem" ignoreCase="true"/>
    <add name="LichSuMuaDiem" virtualUrl="^~/lich-su-mua-diem.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LichSuMuaDiem" ignoreCase="true"/>

    <add name="RutTien" virtualUrl="^~/rut-tien.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=RutTien" ignoreCase="true"/>
    <add name="LichSuRutTien" virtualUrl="^~/lich-su-rut-tien.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LichSuRutTien" ignoreCase="true"/>

    <add name="QRCode" virtualUrl="^~/QRCode/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ThanhToanQRCode&amp;key=$1" ignoreCase="true"/>
    <add name="HoaHongQRcode" virtualUrl="^~/Hoa-hong-QRcode.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=HoaHongQRcode" ignoreCase="true"/>
    <add name="Dautu" virtualUrl="^~/dau-tu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Dautu" ignoreCase="true"/>

    <add name="LSDautu" virtualUrl="^~/lich-su-dau-tu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=LSDautu" ignoreCase="true"/>

    <add name="lich-su-thanh-toan-qrcode" virtualUrl="^~/lich-su-thanh-toan-qrcode.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=lichsuthanhtoanqrcode" ignoreCase="true"/>
    <add name="lich-su-duyet-vi-tam-giu" virtualUrl="^~/lich-su-duyet-vi-tam-giu.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=lichsuduyetvitamgiu" ignoreCase="true"/>

    <add name="shop" virtualUrl="^~/shop/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ShopNhaCC&amp;user=$1" ignoreCase="true"/>
    <add name="ChienLuoc" virtualUrl="^~/san-pham-chien-luoc.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=ChienLuoc" ignoreCase="true"/>
    <add name="TroThanhDaiLy" virtualUrl="^~/san-pham-dieu-kien-tro-thanh-dai-ly.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=TroThanhDaiLy" ignoreCase="true"/>
    
    <add name="GoiY" virtualUrl="^~/san-pham-goi-y.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=GoiY" ignoreCase="true"/>
    <add name="BanChay" virtualUrl="^~/san-pham-ban-chay.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=BanChay" ignoreCase="true"/>
    <add name="KhuyenMai" virtualUrl="^~/san-pham-khuyen-mai.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=KhuyenMai" ignoreCase="true"/>
    <add name="NoiBat" virtualUrl="^~/san-pham-noi-bat.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=NoiBat" ignoreCase="true"/>
    <add name="quanlysanpham" virtualUrl="^~/quan-ly-san-pham.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=quanlysanpham" ignoreCase="true"/>
    <add name="Rule11" virtualUrl="^~/gio-hang.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=viewcart" ignoreCase="true"/>
    <add name="Rule12" virtualUrl="^~/Message.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=msg&amp;msg=removecart" ignoreCase="true"/>
    <add name="Rule13" virtualUrl="^~/Ordersucess.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=msg&amp;msg=otc" ignoreCase="true"/>
    <add name="page" virtualUrl="^~/page-404.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=Page" ignoreCase="true"/>
    <add name="Rule14" virtualUrl="^~/AddToCart/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/cms/display/products/AddToCart.aspx?ipid=$1" ignoreCase="true"/>
    <add name="Rule15" virtualUrl="^~/thanh-cong/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?u=Control_All&amp;su=viewcart&amp;id=$1&amp;success=$2" ignoreCase="true"/>
    <add name="html" virtualUrl="^~/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?e=load&amp;hp=$1" ignoreCase="true"/>
    <add name="aspx" virtualUrl="^~/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?e=load&amp;hp=$1" ignoreCase="true"/>
    <!--<add name="html" virtualUrl="^~/(((?!\.).)+)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?e=load&amp;hp=$1" ignoreCase="true"/>-->
    <!--<add name="html" virtualUrl="^~/(((?!\.).)+)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?e=load&amp;hp=${encode($1)}" ignoreCase="true"/>-->
    <!--<add name="html" virtualUrl="^/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/index.aspx?e=load&amp;hp=${encode($1)}" ignoreCase="true"/>-->
  </rewrites>
</urlrewritingnet>